.skills-container {
	margin-top: 2em;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
}

.circular-progress {
	margin: auto;
	position: relative;
}

.circular-progress,
.circular-progress:before,
.circular-progress:after {
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.circular-progress:before,
.circular-progress:after {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	text-align: center;
}

.circular-progress:before {
	padding: 0.5em;
	line-height: 120px;
	font-size: 2rem;
	font-weight: bold;
}

.circular-progress:after {
	font-size: 0.8rem;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 230px;
}

.html {
	background: linear-gradient(0deg, #f75023 40%, rgba(241, 100, 44, 0.3) 50%);
	transform: rotate(165deg);
}

.html:before,
.html:after {
	color: #f75023;
}

.html:before {
	background: #ffffff content-box;
	transform: rotate(-165deg);
	content: '90%';
}

.html:after {
	background: linear-gradient(transparent 50%, #ffffff 50%);
	content: 'html5';
	transform: rotate(-165deg) scale(1.5);
}

.css {
	background: linear-gradient(0deg, #f0dc50 40%, rgb(240, 220, 80, 0.3) 50%);
	transform: rotate(150deg);
}

.css:before,
.css:after {
	color: #f0dc50;
}

.css:before {
	background: #ffffff content-box;
	transform: rotate(-150deg);
	content: '83%';
}

.css:after {
	background: linear-gradient(transparent 50%, #fff 50%);
	content: 'css3';
	transform: rotate(-150deg) scale(1.5);
}

.javascript {
	background: linear-gradient(0deg, #a690ff 40%, rgba(166, 144, 255, 0.3) 50%);
	transform: rotate(120deg);
}

.javascript:before,
.javascript:after {
	color: #a699ff;
}

.javascript:before {
	background: #ffffff content-box;
	transform: rotate(-120deg);
	content: '67%';
}

.javascript:after {
	background: linear-gradient(transparent 50%, #fff 50%);
	content: 'javascript';
	transform: rotate(-120deg) scale(1.5);
}

.react {
	background: linear-gradient(0deg, #61dafb 40%, rgb(97, 218, 251, 0.3) 50%);
	transform: rotate(90deg);
}

.react:before,
.react:after {
	color: #61dafb;
}

.react:before {
	background: #fff content-box;
	transform: rotate(-90deg);
	content: '48%';
}

.react:after {
	background: linear-gradient(transparent 50%, #fff 50%);
	content: 'React';
	transform: rotate(-90deg) scale(1.5);
}

.typescript {
	background: linear-gradient(0deg, #ec9537 40%, rgba(236, 148, 55, 0.3) 50%);
	transform: rotate(40deg);
}

.typescript:before,
.typescript:after {
	color: #ec9537;
}

.typescript:before {
	background: #ffffff content-box;
	transform: rotate(-40deg);
	content: '19%';
}

.typescript:after {
	background: linear-gradient(transparent 50%, #ffffff 50%);
	content: 'Typescript';
	transform: rotate(-40deg) scale(1.5);
}

.nodejs {
	background: linear-gradient(0deg, #026e00 40%, rgba(20, 105, 46, 0.3) 50%);
	transform: rotate(30deg);
}

.nodejs:before,
.nodejs:after {
	color: #026e00;
}

.nodejs:before {
	background: #ffffff content-box;
	transform: rotate(-30deg);
	content: '10%';
}

.nodejs:after {
	background: linear-gradient(transparent 50%, #ffffff 50%);
	content: 'NodeJS';
	transform: rotate(-30deg) scale(1.5);
}

.mysql {
	background: linear-gradient(0deg, #767bb3 40%, rgba(118, 123, 179, 0.3) 50%);
	transform: rotate(30deg);
}

.mysql:before,
.mysql:after {
	color: #767bb3;
}

.mysql:before {
	background: #ffffff content-box;
	transform: rotate(-30deg);
	content: '10%';
}

.mysql:after {
	background: linear-gradient(transparent 50%, #ffffff 50%);
	content: 'MySQL';
	transform: rotate(-30deg) scale(1.5);
}
