* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	font-family: 'Jost', sans-serif;
}

:root {
	--bg-color: #ffffff;
	--bg-darkcolor: #303030;
	--text-color: #000;
	--second-color: #a09dab;
	--main-color: #f75023;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 18%;
	transition: 0.3s;
	opacity: 0.95;
}

header:hover {
	opacity: 1;
	transition: 0.6s;
}

.logo img {
	max-width: 100%;
	width: 100px;
	height: auto;
}

.navlist {
	display: flex;
}

.navlist li {
	position: relative;
}

.navlist a {
	font-size: var(--p-font);
	color: var(--text-color);
	font-weight: 500;
	padding: 10px 27px;
}

.navlist a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: var(--main-color);
	bottom: -3px;
	left: 0;
	transition: ease 0.4s;
}

.navlist a:hover::after {
	width: 100%;
}
.navlist a:hover {
	color: var(--main-color);
	transition: ease 0.4s;
}

#menu-icon {
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.cv-btn {
	display: inline-block;
	padding: 9px 30px;
	background: transparent;
	border: 2px solid var(--main-color);
	border-radius: 30px;
	color: var(--text-color);
	letter-spacing: 1px;
	font-size: var(--p-font);
	font-weight: 500;
	transition: ease 0.5s;
}

.cv-btn:hover {
	transform: scale(1.1);
	background: var(--main-color);
	border: 2px solid var(--main-color);
	color: var(--bg-color);
}

.cv-btn2 {
	display: none;
}

section {
	padding: 100px 18%;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: var(--bg-darkcolor);
	color: var(--bg-color);
	text-align: center;
	border-radius: 6px;
	padding: 3px 3px;
	position: absolute;
	z-index: 1;
	top: -15px;
	left: 105%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.home {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background: url(./img/background.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-gap: 4rem;
}

.home-text h1 {
	margin: 10px 0px 25px;
	font-size: var(--big-font);
	line-height: 1;
	font-weight: 500;
}

.home-text h5 {
	margin-bottom: 23px;
	font-size: 19px;
	font-weight: 500;
}

span {
	color: var(--main-color);
}

.home-text h3 {
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}

.home-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 28px;
	margin-bottom: 20px;
}

.social a {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: rgba(128, 103, 240, 1);
	font-size: 17px;
	color: var(--bg-color);
	margin-right: 22px;
	margin-bottom: 30px;
	transition: transform 1.5s;
}

.social a:hover {
	background: var(--main-color);
	transform: rotate(360deg);
	/* transform: scale(1.1); */
}

.btn {
	display: inline-block;
	color: var(--bg-color);
	background: var(--main-color);
	font-size: var(--p-font);
	padding: 10px 40px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 30px;
	transition: ease 0.4s;
}

.btn:hover {
	transform: scale(1.1);
}

.home-img img {
	max-width: 100%;
	width: 540px;
	height: auto;
	border-radius: 50% 50% 10px 10px;
	border: 5px double var(--bg-darkcolor);
}

header.sticky {
	background: var(--bg-color);
	padding: 13px 18%;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
}
.sub-box {
	padding: 45px 45px 45px 45px;
	transition: ease 0.5s;
	cursor: pointer;
}
.sub-img img {
	max-width: 100%;
	width: 60px;
	height: auto;
	margin-bottom: 20px;
}
.sub-box h3 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
}
.sub-box p {
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 29px;
}
.sub-box:hover {
	background: #ffffff;
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	border-radius: 12px;
	will-change: transform;
	transform: perspective(1000px) rotateX(4.8deg) rotateY(10.23deg)
		scale3d(1.05, 1.05, 1.05);
}

.about {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 2rem;
}
.about-img img {
	max-width: 100%;
	width: 540px;
	height: auto;
}
.about-text h2 {
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 8px 0px 25px;
	line-height: 1.1;
}
.about-text h3 {
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}
.about-text p {
	max-width: 550px;
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 45px;
}

.heading {
	text-align: center;
}
.heading h2 {
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 7px 0px 20px;
	line-height: 1.1;
}
.heading h3 {
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}
.heading p {
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
}

/* PORTFOLIO */

.portfolio-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
	cursor: pointer;
}
.col {
	position: relative;
}
.col img {
	max-width: 32rem;
	width: 100%;
	height: 32rem;
	object-fit: cover;
	border-radius: 12px;
}

.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px;
	transition: all 0.4s;
}

.layer:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, #191919);
}

.layer h3 {
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	color: var(--bg-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all 0.4s;
}
.layer:hover h3 {
	bottom: 65%;
	opacity: 1;
	transition: all 0.6s;
}

.layer h5 {
	position: absolute;
	width: 100%;
	font-size: 17px;
	font-weight: 500;
	color: var(--bg-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all 0.4s;
}
.layer:hover h5 {
	bottom: 48%;
	opacity: 1;
	transition: all 0.4s;
}

.service-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}
.row {
	background: #ffffff;
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	border-radius: 12px;
	padding: 45px 45px 45px 45px;
	transition: ease 0.45s;
	cursor: pointer;
}
.s img {
	height: 65px;
	width: 65px;
	background: #f75124;
	padding: 15px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.s.s-tow img {
	background: #baebcd;
}
.s.s-three img {
	background: #d9d1fa;
}
.s.s-four img {
	background: #faedce;
}
.row h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 2px;
}
.row h5 {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 19px;
}
.row p {
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
}
.row:hover {
	will-change: transform;
	transform: perspective(1000px) rotateX(4.8deg) rotateY(10.23deg)
		scale3d(1.05, 1.05, 1.05);
}

.skills-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
}

/* .wrap {
	background: #ffffff;
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	border-radius: 20px;
	padding: 40px 20px;
	transition: ease 0.4s;
	cursor: pointer;
}
.one {
	background: #baebcd;
}
.two {
	background: #d9d1fa;
}
.three {
	background: #faedce;
}
.for {
	background: #d1e1fa;
}
.wrap h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 2px;
}
.wrap p {
	font-size: var(--p-font);
} */

.contact {
	background: #8067f0eb;
	width: 64%;
	margin: 100px auto;
	padding: 30px 20%;
	text-align: center;
	border-radius: 12px;
	background-image: url(../img/intro.png);
	background-size: cover;
}

.contact-title {
	padding: 10px 5px;
	letter-spacing: 2px;
}

.form-group input {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid transparent;
	background: var(--bg-color);
	border-radius: 5px;
}

.form-group textarea {
	width: 100%;
	background: var(--bg-color);
	padding: 10px;
	height: 120px;
	margin-top: 20px;
	border-radius: 5px;
	border: none;
}

.btn-md {
	padding: 10px 25px;
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
	border-radius: 20px;
	background: var(--main-color);
	color: var(--bg-color);
	border: none;
	cursor: pointer;
}

.btn-md:hover {
	transform: scale(1.1);
}

#submit_error {
	position: absolute;
	font-size: 16px;
	font-weight: 600;
	padding: 2px 2px;
}

#submit_ok {
	position: absolute;
	font-size: 16px;
	font-weight: 600;
	padding: 2px 2px;
	color: #1d6137;
}

.footer {
	width: 100%;
	background: url(./img/background.jpg);
	background-size: cover;
	background-position: bottom;
}

.ends {
	text-align: center;
	padding: 40px;
}

.ends p {
	font-size: var(--p-font);
	letter-spacing: 1px;
}

#currentYear {
	color: var(--text-color);
}

@media (max-width: 1425px) {
	header {
		padding: 16px 3%;
		transition: 0.3s;
	}
	header.sticky {
		padding: 10px 3%;
		transition: 0.3s;
	}
	section {
		padding: 70px 3%;
		transition: 0.3s;
	}
	.contact {
		width: 95%;
		transition: 0.3s;
		padding: 30px 22%;
	}

	:root {
		--big-font: 4rem;
		--h2-font: 2.3rem;
		--p-font: 1rem;
		transition: 0.3s;
	}
}

@media (max-width: 970px) {
	#menu-icon {
		display: block;
	}
	.home {
		min-height: 80vh;
	}
	.navlist {
		position: absolute;
		top: -700px;
		left: 15%;
		right: 15%;
		flex-direction: column;
		background: var(--bg-darkcolor);
		transition: all 0.4s;
		border-radius: 0 0 20px 20px;
		text-align: center;
	}

	.navlist a {
		display: block;
		padding: 1.2rem;
		margin: 1.2rem;
		border-bottom: 2px solid var(--bg-color);
		border-radius: 20px 0 20px 0;
		color: var(--bg-color);
		letter-spacing: 2px;
		font-weight: 500;
	}
	.navlist a:hover {
		background: var(--bg-color);
		color: var(--text-color);
		transition: ease-out 0.6s;
		letter-spacing: 1px;
	}
	.navlist a::after {
		display: none;
	}
	.navlist.active {
		top: 100%;
	}
	.navlist .cv-btn2 {
		display: none;
	}
}

@media (max-width: 800px) {
	.cv-btn {
		display: none;
	}

	.navlist .cv-btn2 {
		color: var(--main-color);
		display: block;
	}

	.home {
		min-height: 100vh;
		display: flex;
		flex-direction: column-reverse;
	}
	.home-text {
		padding-top: 55px;
	}
	.home-img {
		text-align: center;
	}
	.home-img img {
		width: 440px;
		height: auto;
	}
	.about {
		grid-template-columns: 1fr;
	}
	.about-img {
		text-align: center;
		margin-bottom: 30px;
	}
	:root {
		--big-font: 3.4rem;
		--h2-font: 2rem;
	}
	section {
		padding: 65px 3%;
		transition: 0.3s;
	}
}
